{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "extends": [
    "plugin:react/recommended",
    "@react-native-community",
    "airbnb-typescript",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "ignorePatterns": ["tools/*"],
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".ts",
      ".tsx"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "alias": {
        "map": [
          [
            "~",
            "./src"
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".jsx",
          ".tsx",
          ".json"
        ]
      }
    }
  },
  "rules": {
    "no-new": "off",
    "no-empty": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "react/require-default-props": "off",
    "global-require": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/no-extraneous-dependencies": "off",
    "react-native/no-inline-styles": "error"
  }
}
